.view-products {
    padding-bottom: 94px;
}
.top-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text);
    margin-bottom: 50px;
}
.pic {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.img {
    width: 370px;
    height: 294px;
    position: relative;
    
    &:not(:last-child) {
    margin-right: 30px;
}
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}