.header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    & a:hover {
    fill: var(--focus-color);
    transition: 250ms;
}
}

.mail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-second-text);
    font-style: normal;
    fill: var(--color-second-text);
    padding-bottom: 20px;
    padding-top: 20px;
    
&:hover,
&:focus {
    color: var(--focus-color);
}
&:hover,
&:focus {
    fill: var(--focus-color);
}
}


.icon-svg {
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}
.tel-link {
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-second-text);
margin-left: 30px;
font-style: normal;
fill: var(--color-second-text);

&:hover,
&:focus {
    color: var(--focus-color);
    text-decoration: none;
}
}

.mail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-second-text);
    font-style: normal;
}