.logo-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--colo-black);
    margin-right: 93px;
}
.web-logo {
    color:var(--focus-color);
    margin-bottom: 20px;
}
